Test_Flow_Examples/ComplexFlow_ConsumerFlow.txt
[{"id":"bb344e89.870dc","type":"inject","z":"1f531f8c.9ebc5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126,"y":167,"wires":[["4a3d0e53.5622b8"]]},{"id":"4a3d0e53.5622b8","type":"iotbnb","z":"1f531f8c.9ebc5","name":"","operations":"searchServices","type1":"mobility","price":"0","reputation":"0","service":"Objects/Organization:Metropole-de-Lyon:v0-4-0/OrganizationalUnit:DINSI/Deployment:9ca1aa66-a9c1-44f8-ba5e-659afeaaa396/Sensor:SL-T-P8/SensingLabs-IP68-Temperature-Sensor:systemCapability/SensingLabs-IP68-Temperature-Sensor:systemCapability:temperatureResolution/schema:value","x":263,"y":167,"wires":[["4f782a7a.25c61c"]]},{"id":"db42c4f0.2bf5a8","type":"debug","z":"1f531f8c.9ebc5","name":"","active":false,"console":"false","complete":"payload[1][2]","x":835,"y":166,"wires":[]},{"id":"4f782a7a.25c61c","type":"odfNode","z":"1f531f8c.9ebc5","name":"","x":407,"y":167,"wires":[["db42c4f0.2bf5a8","c9752cd8.d2ec68","7ea5f085.cbf1a8"]]},{"id":"c9752cd8.d2ec68","type":"function","z":"1f531f8c.9ebc5","name":"Get Service1 Access Information","func":"msg.service=msg.payload[1][2];\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":267,"wires":[["e3cf1b7f.8060f"]]},{"id":"11e59d5e.78407b","type":"debug","z":"1f531f8c.9ebc5","name":"","active":true,"console":"false","complete":"payload[0][2]","x":838.5,"y":267,"wires":[]},{"id":"7ea5f085.cbf1a8","type":"debug","z":"1f531f8c.9ebc5","name":"","active":false,"console":"false","complete":"payload","x":818,"y":88,"wires":[]},{"id":"e3cf1b7f.8060f","type":"iotbnb","z":"1f531f8c.9ebc5","name":"","operations":"getServiceAccessInformation","type1":"mobility","price":"0","reputation":"0","service":"","x":430,"y":267,"wires":[["4b87ac5a.b82dac"]]},{"id":"25e73ecd.2112b2","type":"function","z":"1f531f8c.9ebc5","name":"Get Service1 full URL","func":"msg.path_InfoItem=msg.payload[0][2];\nreturn msg;","outputs":1,"noerr":0,"x":151,"y":375,"wires":[["4fb493fa.510024"]]},{"id":"4b87ac5a.b82dac","type":"odfNode","z":"1f531f8c.9ebc5","name":"","x":592,"y":267,"wires":[["11e59d5e.78407b","25e73ecd.2112b2"]]},{"id":"8fbd1a06.84bff8","type":"debug","z":"1f531f8c.9ebc5","name":"","active":true,"console":"false","complete":"payload","x":824,"y":376,"wires":[]},{"id":"4fb493fa.510024","type":"omiNode","z":"1f531f8c.9ebc5","name":"","path_InfoItem":"","token":"","operations":"Read","ttl":"","interval":"","callback":"","newest":"","oldest":"","begin":"","end":"","value":"","reqID":"","metadata":false,"readTypes":"read1time","x":391.5,"y":380,"wires":[["8fbd1a06.84bff8"]]}]