Test_Flow_Examples/SimpleFlow_TestIoTBnB.txt
[{"id":"fa224405.01c5","type":"inject","z":"8f222862.5f7968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152.5,"y":142,"wires":[["c1aff91.d524f88"]]},{"id":"c1aff91.d524f88","type":"iotbnb","z":"8f222862.5f7968","name":"","operations":"searchServices","type1":"mobility","price":"0","reputation":"0","service":"Objects/Organization:Metropole-de-Lyon:v0-4-0/OrganizationalUnit:DINSI/Deployment:9ca1aa66-a9c1-44f8-ba5e-659afeaaa396/Sensor:SL-T-P8/SensingLabs-IP68-Temperature-Sensor:systemCapability/SensingLabs-IP68-Temperature-Sensor:systemCapability:temperatureResolution/schema:value","x":336.5,"y":142,"wires":[["b9f9fe2e.c56788"]]},{"id":"b9f9fe2e.c56788","type":"debug","z":"8f222862.5f7968","name":"","active":true,"console":"false","complete":"payload","x":568,"y":142,"wires":[]}]